<form method="post" action="{{ path('type_delete', {'id': type.id}) }}" class="d-inline" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ? Tout les articles seront supprimés avec ! ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn btn-danger mt-2">Supprimer le type</button>
</form>

