{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
<div class="mx-auto w-75 align-items-center article">
    <h1>Les types d'articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.code }}</td>
                <td>{{ type.nom }}</td>
                <td>
                    <a href="{{ path('type_edit', {'code': type.code}) }}" class ="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de type trouver.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}" class="btn btn-primary">Créer un type</a>
</div>
{% endblock %}
