{% extends 'base.html.twig' %}

{% block title %}Connexion Administrateur{% endblock %}

{% block body %}
   <div class="mx-auto w-75 align-items-center article">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Pseudo :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" id="password" name="_password" class="form-control"/>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    </div>
{% endblock %}
