{% extends 'base.html.twig' %}

{% block title %}Edit Archive{% endblock %}

{% block body %}
<div class="divperso mx-auto">
    <h1>Modifier l'Archive</h1>

    {{ include('archive/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('archive_index') }}" class="btn btn-primary mt-2">Retour</a>
</div>
{% endblock %}
