{% extends 'base.html.twig' %}

{% block title %}{{ archive.denom }}{% endblock %}

{% block body %}
    <div class="mx-auto col-12 col-lg-9 align-items-center article">
        {% if archive is defined %}
            <h3>{{ archive.denom }}</h3>
            <h5>{{ archive.annee}}</h5>
            <p>Les différents articles paru cette année là :</p>
            <div class="row ">
                {{ include('article/ajax_article.html.twig', {'articles': articles}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
