{% extends 'base.html.twig' %}
{% block body %}
    <div class="divperso mx-auto">
        <p>Nous sommes joignables de plusieurs façon différentes : </p>
        <ul>
            <li>
                Par courriel : {{ email }}
            </li>
            <li>
                Par facebook : <a href="{{ link_fb }}" target="_blank">Ronde des Lingons</a>
            </li>
        </ul>
    </div>
{% endblock %}
