<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" class="d-inline" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
