{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="divperso mx-auto">
    <h1>Modifié l'article</h1>
    {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a href="{{ path('article_index') }}" class="btn btn-primary mt-2">Retour</a>
</div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('ckeditor') }}
 {% endblock %}
