{% extends 'base.html.twig' %}

{% block body %}
<div class="mx-auto w-75">
    {{ render(controller('App\\Controller\\IndexController::lastArticle')) }}
    <hr class="my-4" />
    <div class="row" id="containerArticle" >
        {{ include('article/ajax_article.html.twig', {'articles': articles}) }}
    </div>
</div>
{% endblock %}
