{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="divperso mx-auto">
    <h1>Création d'un nouvel article</h1>
    {{ include('article/_form.html.twig') }}
    <a href="{{ path('article_index') }}">Retour à la liste</a>

</div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('ckeditor') }}
 {% endblock %}
